## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [15]:
data = {'國家':np.random.randint(100,size=10) ,
        '人口':np.random.randint(100,size=10) }
data = pd.DataFrame(data)
data

   國家  人口
0  67   8
1  30  73
2  69  68
3  26  98
4  21  52
5  61  72
6  29  10
7  29  85
8  30  41
9  25  72

In [16]:
data[data['人口']==data['人口'].max()]

   國家  人口
3  26  98